.contenitore {
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(154, 154, 154, 0.4);
  background: linear-gradient(
    90deg,
    rgba(79, 73, 73, 0.7792366946778712) 13%,
    rgba(217, 213, 213, 1) 89%
  );
  width: 100%;
}

body {
  background-size: 100%;
}

.bottone {
  margin-top: 5px;
  border-radius: 40px;
  background-color: rgb(154, 154, 154, 0.4);
  font-weight: bold;
}

.lista {
  margin-top: 40px;

  /* background: rgb(154, 154, 154, 0.4);
  background: linear-gradient(
    90deg,
    rgba(79, 73, 73, 0.7792366946778712) 13%,
    rgba(217, 213, 213, 1) 89%
  );
  width: 72.7%; */
}

/*  ul {
  background: rgb(154, 154, 154, 0.4);
  background: linear-gradient(90deg, rgba(79,73,73,0.7792366946778712) 13%, rgba(217,213,213,1) 89%);
  width: 70%;
}  */
